@model IEnumerable<Publicaciones.Infraestructure.Models.titleAuthorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Titleuthor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.au_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.au_ord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.royaltyper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.au_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.au_ord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.royaltyper)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.au_id  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.au_id  }) |
                </td>
            </tr>
        }
    </tbody>
</table>
  @*      // GET: Index/Delete/5
        public ActionResult Delete(int id)
        {
            return View();
        }

        // POST: Index/Delete/5
        [HttpPost]
        [ValidateAntiForgeryToken]
        public ActionResult Delete(int id, IFormCollection collection)
        {
            try
            {
                return RedirectToAction(nameof(Index));
            }
            catch
            {
                return View();
            }
        }
    }
}*@